/*
 * 初始化全局样式
 *         ——————BY Mr.Jiang
 *         2017.05.18
 */
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container-vertical>.swiper-pagination-bullets {
    right: 1px;
}


/* ------------菜单样式------------ */
.menu {
    min-width: 100px;
    width: 25%;
    max-width: 320px;
    background-color: #2C8DFB;
    color: #fff;
}
.content {
    width: 100%;
}
.menu-button {
    position: absolute;
    top: 0px; left: 0px;
    padding: 5px 0;   /* 移动端的时候可以切换至3或4px */
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #2C8DFB;
    z-index: 199;
    /*margin: 14px;
    border-radius: 5px;*/
}
.menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
}
.menu-button .bar:nth-of-type(2) {
    margin-top: 10px;
}
.bar {
    position: relative;
    display: block;
    width: 40px;
    height: 4px;
    margin: 14px auto 0;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: .3s;
    transition: .3s;
}
.menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4.5deg);
    -ms-transform: translateY(1.5px) rotate(-4.5deg);
    transform: translateY(1.5px) rotate(-4.5deg);
}
/* .menu-button:hover .bar:nth-of-type(2) {
    opacity: .9;
} */
.menu-button:hover .bar:nth-of-type(2) {
    -webkit-transform: translateY(-1.5px) rotate(4.5deg);
    -ms-transform: translateY(-1.5px) rotate(4.5deg);
    transform: translateY(-1.5px) rotate(4.5deg);
}
.cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(7px) rotate(-30deg);
    -ms-transform: translateY(7px) rotate(-30deg);
    transform: translateY(7px) rotate(-30deg);
}
/* .cross .bar:nth-of-type(2) {
    opacity: 0;
} */
.cross .bar:nth-of-type(2) {
    -webkit-transform: translateY(-7px) rotate(30deg);
    -ms-transform: translateY(-7px) rotate(30deg);
    transform: translateY(-7px) rotate(30deg);
}
.cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(7.5px) rotate(-40.5deg);
    -ms-transform: translateY(7.5px) rotate(-40.5deg);
    transform: translateY(7.5px) rotate(-40.5deg);  //translateY调整
}
/* .cross:hover .bar:nth-of-type(2) {
    opacity: .1;
} */
.cross:hover .bar:nth-of-type(2) {
    -webkit-transform: translateY(-7.5px) rotate(40.5deg);
    -ms-transform: translateY(-7.5px) rotate(40.5deg);
    transform: translateY(-7.5px) rotate(40.5deg);  //translateY调整
}